# Node.js関連
node_modules/
npm-debug.log
yarn.lock
*.log
*.cache

# 環境変数ファイル
.env

# サービスアカウントキー
server/keys/
*.json

Running Route Generator.json
# Node.js のビルドファイル
dist/
build/
*.map

# Python のキャッシュファイル
__pycache__/
*.pyc
*.pyo
*.pyd

# エディタやツールの設定ファイル
.vscode/
.idea/
.DS_Store
*.log
google-cloud-sdk/